language: python

python:
  - "2.7"

# command to install dependencies
install:
  - pip install coveralls
  - pip install pytest-cov
  - pip install -r requirements.txt
  - pip freeze | grep mock

# command to run tests
script:
  - py.test tests -s --cov reportgen

after_success:
    - coveralls
